
<!-- include Header-->
<%-include('include/_header')%>
<!-- /include Header-->
   <!--Main site-->
   <main id="site">
        <div class="form-title  text -center">
            <h2 class="text-dark">New admin </h2>
            <span class="text-light">use the below from to create a new account</span>
        </div>
       <!--add admin form--> 
       <%-include('include/_form')%>
   </div>   
</main>
 <!--/Main site-->

<!-- include footer-->
<%-include('include/_footer')%>
<!-- /include footer-->