<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
       <meta name="viewport" content="width=device-width inital-scale=1.0">
       <title>Crud application</title> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="stylesheet" href="..assets/css/style.css">+
    </head>
    <body>
        <!--Header-->
         <header id="header" >
             <nav>
                 <div class="container"></div>
                 <div class="text-center">
                     <a href="/" class="nav-brand text dark"> USER  SYSTEM</a>
                 </div>

             </nav>
         </header>

        <!--/Header-->
         <!--Main site-->
        <main id="site">
            <div class="container">
                <div class="box-nav d-flex-justify-between">
                    <a href="/add-client"class="border-shadow">
                     <span class="text gardient">New socanalyseur<i class='fa fa-user'></i> </span>
                    </a>
                </div>
               
                 <!-- form handling-->
                  <form action="/"method="POST">
              <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <td>ID</td>
                        <td>@Email</td>
                        <td>Mot de passe</td>
                        <td>Adresse</td>
                        <td>Status</td>
                    </tr>
                    <tbody>
                        <tr>
                            <td>fhklgg</td>
                            <td>bouthayna@gmail.com</td>
                            <td>dcfvgbhnjkhng</td>
                            <td>Tunisie</td>
                            <td>active</td>
                            <td>
                                 <a class="btn border-shadow create">
                                    <span class="text-gardent"> <i class="fas fa-pencil-alt"></i></span>
                                    </a>
                            </td>
                            
                        </tr>
                    </tbody>
                </thead>
                </table>
                </form>
             </div>
         </main>
         <!--/Main site-->
    </body>
</html>