<!-- form handling-->
<form action="/api/clients"method="POST" id="add_client">
         <div class="new_user">
             <div class="form-group">
                 <label for="name" class="text-light">id</label>
                 <input type="hidden"name="id" value="">
                 <input type="text"name="id" value=""placeholder="bouthayna">
             </div>
             <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Email</label>
                    <input type="hidden"name="Email" value="">
                    <input type="text"name="Email" value=""placeholder="bouthayna@gmail.com">
                </div>
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">password</label>
                        <input type="hidden"name="password" value="">
                        <input type="text"name="password" value=""placeholder="ghmakp">
                    </div>
                    <div class="new_user">
                        <div class="form-group">
                            <label for="name" class="text-light">nom</label>
                            <input type="hidden"name="nom" value="">
                            <input type="text"name="nom" value=""placeholder="assma">
                        </div>
                        <div class="new_user">
                            <div class="from-group">
                                <label for="pays" class="text-light">pays</label>

                                <select name="pays" id="pays-select">
                                    <option value="Tunisie"></option>
                                    <option value="paris"></option>
                                </select>
                                <input type="hidden"name="pays" value="">
                
                                <input type="text"name="pays" value=""placeholder="Tunisie">
                            </div>
                            <div class="form-group">
                                <label for="adresse" class="text-light">adresse</label>
                                <input type="hidden"name="adresse" value="">
                                <input type="text"name="adresse" value=""placeholder="Tunisiejendouba">
                            </div>
                           


             
         </div>
    
    </form>
   </div>   
</main>
 <!--/Main site-->