<!-- form handling-->
<form action="/api/admin"method="POST" id="add_admin">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">id</label>
            <input type="hidden"name="id" value="">
            <input type="text"name="id" value=""placeholder="bothh">
        </div>
        <div class="new_user">
           <div class="form-group">
               <label for="name" class="text-light">Email</label>
               <input type="hidden"name="Email" value="">
               <input type="text"name="Email" value=""placeholder="bouthaynakh@gmail.com">
           </div>
           <div class="new_user">
               <div class="form-group">
                   <label for="name" class="text-light">password</label>
                   <input type="hidden"name="password" value="">
                   <input type="text"name="password" value=""placeholder="kjhh">
               </div>
                   <div class="new_user">
                       <div class="from-group">
                           <label for="status" class="text-light">Status</label>

                           <select name="status" id="status-select">
                               <option value="inactive"></option>
                               <option value="active"></option>
                           </select>
                           <input type="hidden"name="status" value="">
           
                           <input type="text"name="status" value=" "placeholder="active">
                       </div>
                       <div class="form-group">
                           <label for="adresse" class="text-light">adresse</label>
                           <input type="hidden"name="adresse" value="">
                           <input type="text"name="adresse" value=""placeholder="Tunisiejendouba">
                       </div>
                      


        
    </div>

</form>
</div>   
</main>
<!--/Main site-->